# =========================
# Telegram Bot
# =========================

BOT_TOKEN=YOUR_BOT_TOKEN
SUPER_ADMIN_ID=YOUR_TELEGRAM_ID


# =========================
# PasarGuard
# =========================

PASARGUARD_URL=
PASARGUARD_USERNAME=
PASARGUARD_PASSWORD=


# =========================
# Payment - Card to Card
# =========================

CARD_NUMBER=
CARD_HOLDER=


# =========================
# Support
# =========================

SUPPORT_USERNAME=
